/*  style and javascript techniques i learned how to use  citation: relative lenghts, flexbox, via w3schools, csstricks,flexbox froggy, recursion, issue tickets with squad lead, GA dashboard TA hours */

/* styles the body, vh and vw viewpoint height and viewpoint widith */
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Oswald;
}







/* this should style the overall nav */
nav {
height: 100px;
line-height: 100px;
background-color: #E5E9EC;
text-align: right;
font-size: 20px;
}

/* this should highlight things when i hover over them */
a{
  color: black;
  padding: 3%;
}

a:hover {
  background-color: whitesmoke;
}



header{
  height: 400px;
  background-image: url(https://i.imgur.com/HtUvc7k.jpg);
  background-size: cover;
  color: whitesmoke;
  text-align: center;
}



.doog{
  width: 100px;
  color:red ;
}

.dab{
  width: 100px;
  color: blue;
}


.neut{
  width: 100px;
  color:gray;
}


/* this should style the footer, and its p tag inside  using flexbox*/
footer{
  background-color: darkgray;
  margin-top: auto;
text-align: center;

}

footer p{
  font-size: 20px;
}





/* added media queries. line height sets the distance between the lines and texts*/
@media (min-width: 412px){
  body{
    font-size: 30px;
    line-height: 2;
  }
  }
  @media(max-width: 800px){
    body {font-size: 20px;
      line-height: 2;
  }
  }