/*  style techniques i learned how to use  citation: relative lenghts, flexbox, via w3schools, csstricks, and flexbox froggy */


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}







/* this should style the overall nav */
nav {
height: 100px;
line-height: 100px;
background-color: #E5E9EC;
text-align: right;
font-size: 20px;
}

/* this should highlight things when i hover over them */
a{
  color: black;
  padding: 5%;
}

a:hover {
  background-color: whitesmoke;
}








/* this should style the footer, and its p tag inside  using flexbox*/
footer{
  background-color: darkgray;
  margin-top: auto;
text-align: center;

}

footer p{
  font-size: 20px;
}





/* added media queries */
/* ask if device pixel ratio is neccesarry to add */
@media (min-width: 360px){
  body{
    font-size: 30px;
    line-height: 2;
  }
  }
  @media(max-width: 780px){
    body {font-size: 20px;
      line-height: 2;
  }
  }